<!DOCTYPE html>
<html lang="en">
<head>
  <title>Appweb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  
  <script src="{{ url_for('static', filename='js/editproduct.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/formu.css') }}">

</head>
 <body>
 <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AppWeb</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Incio</a></li>
       <li><a href="/products">Productos</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
	{% if session.logged_in %}
		{% if session['uid'] == 1 %}
			<li><a href="/admincarrito"><span class="glyphicon glyphicon-shopping-cart"></span> Carrito</a></li>
		{% else %}
			<li><a href="/carrito/{{session.uid}}"><span class="glyphicon glyphicon-shopping-cart"></span> Carrito</a></li>
		{% endif %}
	  <li><a href="/profile/{{session.uid}}"><span class="glyphicon glyphicon-user"></span> Conectado</a></li>
      <li><a href="/out"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
	{% else %}
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	{% endif %}
    </ul>
  </div>
</nav>
      <div class="jumbotron">
	  <div id="successAlert" class="alert alert-success successcaja" role="alert"></div>
      <div id="errorAlert" class="alert alert-danger errorcaja" role="alert" ></div>
    <h2 class="formulariotitulo">Actualizar datos</h2>
                         {% for valor in valores %}
                                <form class="form-signin" id="cform">

																					
                                        <label class="labelformulario">Nombre</label>
										<input class="productoformulario form-control" type="text" value="{{valor.1}}"  id="nombre" required>
										<label class="labelformulario">Precio</label>
										<input class="productoformulario form-control" type="text"  value="{{valor.2}}"  id="precio" required>
										<label class="labelformulario">Tipo</label>
										<input class="productoformulario form-control" type="text" value="{{valor.3}}"  id="tipo" required>
										<label class="labelformulario">Descripcion</label>
										<input class="productoformulario form-control" type="text"  value="{{valor.4}}" id="descripcion" required>
										<label class="labelformulario">cantidad</label>
										<input class="productoformulario form-control" type="text"  value="{{valor.5}}" id="cantidad" required>
				
										
                                      <button type="submit" class="btn btn-primary btn-update-product botonaccion">Actualizar</button><a class="btn btn-primary botonvolver" href="/products">Volver</a>
                                </form>
                                <br/>
                
						{% endfor %}
                 
                   
 <div class="footer">
  <p>página de prueba de AppWeb</p>
</div>

</body>
</html>
 