{%extends "index.html" %}
{% block body%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
<script src="{{ url_for('static', filename='js/filtror.js') }}"></script>
<div class="sidenav">
  <a href="/products">Ver todos los productos</a>
  <a href="/monitor">Monitores</a>
  <a href="/teclado">Teclados</a>
  <a href="/raton">Ratones</a>
</div>
<div class="main">
  
   <table class="table table-striped table-hover table-bordered table-sm bg-white">
	<thead>
	<tr>
            
            
            <td>Nombre</td>
			<td>precio</td>
            <td>cantidad</td>
			
            
	</tr>
    </thead> 
	<tbody >
	</tbody>
	</table>
</div>
{%endblock%}
